<!DOCTYPE html>
<html ng-app="Shutter">
<head>
  <title>Shutter</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <base href="/">
  <script>
    SHUTTER = {
      current_user: <%= raw current_user ? current_user.to_json : 'null' %>
    }
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
